body {
    margin: 40px; /* breathing room around list */
}

/* Align checkbox to right side */
label[for="scrollbox"] {
    position: absolute !important;
    top: 12px;
    right: 12px;
    z-index: 10;
}

/* Style the list */
.list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 0;
    align-items: center;
}

/* Style the list entry */
.entry {
    display: flex;
    flex-direction: row;
    width: min-content; /* inner segments have specific widths so this is safe */
    padding: 0;
}

/* Style the first segments */
.first-segment {
    overflow-y: auto !important; /* override default .window-pane forced scroll wheel */ 
    padding-right: 0;
}

/* Style the second segments */
.second-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    width: 300px;
}
.description {}
.ongoing-game {}

/* Style the third segments */
.third-segment {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}
.ongoing-rating {
    width: 50%;
    height: auto;
}

/* Style the list entry media art */
.media-art {
    width: 200px;
    height: 266.667px;
}

/* Scroll the list when scrollbox checked */
input[name="scroll"]:checked ~ .list {
    animation: autoscroll 10s infinite linear;
}

/* Animation to fake the auto scrolling */
@keyframes autoscroll {
    from { transform: translateY(100%) }
    to { transform: translateY(-100%) }
}